#logConsole{
    overflow-y: scroll;
    max-height: 92.25vh;
    padding: 10px;
    font-family: Consolas;

}
div.messageBox{
  width: 100%;
  background-color: #333;
  padding: 1px;
  animation-duration: 1s;

}
input.messageBox{
    width: 100%;
    border: 0px;
    height: 30px;
    margin: 0 auto;
}
div.playerBox{
    float:right;
    text-align: left;
    padding: 20px;
    max-height: 80vh;
    overflow-y: scroll;
    font-size: 16px;
  }
div#allPlayers{
   text-align: left;
   padding-right: 10px;
   padding-top: 10px;
}
#playerHead{
    float:left;
    margin-top:3px;
}
#playerHeadImage{
    float:right;
}

.info{
    background-color: #4E90BF;
    color:white;
    border: 1px solid #fff;
}
span.serverInfo{
    font-size: 16px;
}
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #333;

}

::-webkit-scrollbar-corner {
    background: #610b0b;
}
