*{
  transition: all 0.3s ease;
}
:root{
    --background: #1b2029;
    --background-accent: #3c4453;
    --color-1: #1D734B;
    --color-2: #32A670;
    --color-4: #D9D2B0;
}
#logConsole{
    overflow-y: scroll;
    min-height: 80vh;
    max-height: 92.25vh;
    padding: 10px;
    font-family: Consolas;
}

#main{
      background-color: var(--background);
      color: var(--color-4);
}
div.messageBox{
  background-color: #333;
  padding: 1px;
  animation-duration: 1s;

}
body{
    background-color: var(--background);
}
input.messageBox{
    width: 100%;
    border: 0px;
    height: 30px;
    margin: 0 auto;
    padding-left:10px
}
div.playerBox{
    float:right;
    text-align: left;
    padding: 20px;
    max-height: 80vh;
    font-size: 16px;
    margin-top: -15px;
    color: var(--color-2);
  }
div#allPlayers{
   text-align: left;
   padding-right: 10px;
   padding-top: 10px;
}
#playerHead{
    float:left;
    margin-top:3px;
}
#playerHeadImage{
    float:right;
}

.info{
    background-color: var(--background-accent);
    color:white;
    border: 1px solid var(--color-4);
}
.topbar{
  background-color: var(--color-1);
  color: var(--color-4);
}
span.serverInfo{
    font-size: 16px;
}
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #333;

}

::-webkit-scrollbar-corner {
    background: #610b0b;
}
